/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button {
  font-family: inherit;
}
.choice-button,
.trolley-choice-yes,
.trolley-choice-no {
  border: 0 none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 5rem;
  margin: 0 1rem;
  padding: 5rem;
  position: relative;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  top: 0;
  transition: top ease 250ms;
}
.choice-button:hover,
.trolley-choice-yes:hover,
.trolley-choice-no:hover {
  top: -1rem;
}
:root {
  font-size: 10px;
}
body {
  background-color: white;
  color: black;
  font-family: 'Open Sans', Calibri, sans-serif;
  font-size: 2rem;
}
.trolley-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: darkcyan;
  color: gainsboro;
  font-size: 3rem;
  font-weight: 600;
  padding: 3rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.trolley-messages {
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  bottom: 20rem;
  line-height: 1.5em;
  padding: 3rem;
  z-index: 1;
}
.trolley-messages b {
  font-weight: bold;
}
.trolley-choice {
  background-color: black;
  bottom: -20rem;
  left: 0;
  padding: 1.5rem 0;
  position: fixed;
  right: 0;
  text-align: center;
  transition: bottom 250ms ease;
  z-index: 3;
}
.trolley-choice.is-active {
  bottom: 0;
}
.trolley-choice-yes {
  background-color: limegreen;
}
.trolley-choice-no {
  background-color: #f20d0d;
}
